<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148590560527-q2smaauodi1ndguvp2mdifj775p6lfvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148590560527-q2smaauodi1ndguvp2mdifj775p6lfvj</string>
	<key>API_KEY</key>
	<string>AIzaSyA1G2c4EQ5DG-X2EyKL6QA-KavJEckpoWk</string>
	<key>GCM_SENDER_ID</key>
	<string>148590560527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invoiceTrackingFlutter</string>
	<key>PROJECT_ID</key>
	<string>hsb-project-830fb</string>
	<key>STORAGE_BUCKET</key>
	<string>hsb-project-830fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148590560527:ios:1b59896a85a67f9564aa7a</string>
</dict>
</plist>